@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -135% 0%;
	}
}

.item {
	border-radius: 1em;
	background: linear-gradient(-90deg, #ffffff 0%, #e0e0e0 50%, #ffffff 100%);
	background-size: 400% 400%;
	opacity: 0%;
	animation: pulse 1.2s ease-in-out infinite;
}
